/* FONTS */
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* RESETS */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* VARIABLES */
:root {
  /*colors*/
  --bgC-h: #fff;
  --bgC-m: #d9d9d9;
  --bgC-f: #3a3845;
  --fntC-h: #3a3845;
  --fntCHvr-h: #c69b7b;
  --fntCHdrs-m: #3a3845;
  --fntCHdrsLight-m: #807f86;
  --fntCCards-m: #595667;
  --fntC-f: #cac9cf;
  --fntCCopy-f: #a6a6a8;
  --brdrCSearch-h: #e5e5e5;
  /*fonts*/
  --ff-primary: "Gilroy", sans-serif;
  /*Btn&form height */
  --search-height: 43px;
  --addBtn-height: 48px;
  /*container*/
  --container-width: 1200px;
  --container-padding-x: 10px;
  /*transition*/
  --transition-duration: 0.2s;
}
/* GENERAL */
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding: var(--container-padding-x);
  margin: 0 auto;
}
body {
  font-family: var(--ff-primary);
  background-color: var(--bgC-m);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}
/* HEADER */
.header {
  background-color: var(--bgC-h);
}
.header__inner {
  padding: 24px 0;
  display: grid;
  grid-template-columns: 1fr 122px 1fr 73px 1fr 64px 1fr;
  justify-content: flex-start;
  align-items: center;
}
.header__logo {
  grid-column: 1;
}
.header__menu {
  grid-column: 3;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  max-width: 334px;
}
.menu__item {
  display: flex;
}
.menu__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 27px;
  min-width: 68px;

  font-weight: 500;
  font-size: 16px;
  color: #3a3845;
  border-bottom: transparent 2px solid;
}
.menu__link:hover {
  color: #c69b7b;
  border-bottom: #c69b7b 2px solid;
  transition: var(--transition-duration);
}
.header__search {
  grid-column: 5;
}
.search-form {
  min-width: 320px;
  padding: 12px 12px 12px 40px;
  background-image: url(../img/Search.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
  font-size: 14px;

  border: 2px #a6a6a8 solid;
  border-radius: 8px;
}
::placeholder {
  color: #a6a6a8;
}
.header__actions {
  grid-column: 7;
  display: flex;
  gap: 16px;
}
/* MAIN */
.main {
  background-color: #d9d9d9;
}
.breadcrumb {
  padding: 28px 0;
}
.breadcrumb__list {
  display: flex;
  gap: 8px;
}
.breadcrumb__item {
}
.breadcrumb__link {
  color: #807f86;
  font-size: 16px;
  font-weight: 500;
}
.product {
  display: grid;
  grid-template-columns: 692px 488px;
  gap: 20px;
}
